[submodule "shell/sovereign-end4"]
	path = shell/sovereign-end4
	url = https://github.com/toxicwind/sovereign-end4.git
[submodule "tau/vendors"]
	path = tau/vendors
	url = https://github.com/MoonshotAI/kimi-cli.git
