[submodule "vendor/kimi-code-sovereign"]
	path = vendor/kimi-code-sovereign
	url = https://github.com/toxicwind/kimi-code-sovereign.git
[submodule "vendor/modelbeats"]
	path = vendor/modelbeats
	url = https://github.com/toxicwind/modelbeats.git
[submodule "vendor/oh-my-pi"]
	path = vendor/oh-my-pi
	url = https://github.com/toxicwind/oh-my-pi.git
[submodule "vendor/pi-subagents"]
	path = vendor/pi-subagents
	url = https://github.com/toxicwind/pi-subagents.git
[submodule "vendor/pi-upstream"]
	path = vendor/pi-upstream
	url = https://github.com/earendil-works/pi.git
[submodule "vendor/tinker-cookbook"]
	path = vendor/tinker-cookbook
	url = https://github.com/toxicwind/tinker-cookbook.git
