[Unit]
Description=Nix Daemon
Documentation=man:nix-daemon https://nixos.org/manual
RequiresMountsFor=/nix/store
RequiresMountsFor=/nix/var
RequiresMountsFor=/nix/var/nix/db
ConditionPathIsReadWrite=/nix/var/nix/daemon-socket

[Service]
ExecStart=@/nix/store/7hvlj4mmmynhs9980qs9h55j6azhc1cy-nix-2.31.5/bin/nix-daemon nix-daemon --daemon
KillMode=process
Environment="NIX_SSL_CERT_FILE=/nix/store/mg063aj0crwhchqayf2qbyf28k6mlrxm-nss-cacert-3.121/etc/ssl/certs/ca-bundle.crt"
LimitNOFILE=1048576
TasksMax=1048576
Delegate=yes

[Install]
WantedBy=multi-user.target
